body {
    background-color: rgb(247, 232, 96);
    color: black;
}

menu {
        display: flexbox;
        padding: 0;
        font-size: 40px;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: blueviolet;
  }