body {
    background-color: rgb(247, 232, 96);
    color: black;
}

.menu {
        display: flexbox;
        padding: 0;
        font-size: 40px;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: blueviolet;
  }

  .enter_data {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit_data {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}